*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    font-family: Georgia;
}
.top-box{
    position: absolute;
    top: 20px;
    left: 300px;
    background-color: #959536;
    padding: 15px 8cqh;
    border-radius: 35px;
    color: white;
    z-index: 2;
    margin-left: 100px;
}
.top-box a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.top-box a:hover{
    text-decoration: underline;
}

.title{
    font-size: 26px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
}
        
.home{
    padding-left:0px;
    padding-right: 30px;
    margin-left: 0px;
}
.resource{
    padding-left: 0px;
    padding-right: 40px;
    margin-left: 0px;
}
.about{
    padding-right: 0px;
    padding-left: 40px;
    margin-right: 0px;
}
.contact{
    padding-right: 0px;
    padding-left: 30px;
    margin-right: 0px;
}
        
.heading{
    text-align: center;
    margin-top: 40px;
    font-size: 42px;
    color: #292f06;
}

.subheading{
    text-align: center;
    font-style: italic;
    margin-bottom: 50px;
}
.container{
    width: 90%;
    margin: auto;
}
.box{
    border: solid #4b4b1f;
    width: 25%;
    float: left;
    margin: 25px;
    background-color: #f2f2c2;
    padding: 25px;
    border-radius: 15px;
}
.box h3{
    margin-bottom: 12px;
    border-bottom: 2px solid #9a9a4a;
    padding-bottom: 5px;
    color: #3e3e1d;
}

.box ul{    
    padding-left: 20px;
    margin-bottom: 25px;
}

.box ul li{
    margin-bottom: 8px;
}
.clear{
    clear: both;
}
.visitor{
    width: 40%;
    margin: 40px auto;
    background-color: #e3e3a9;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.visitor h3{
    margin-bottom: 10px;
    border-bottom: 2px solid #9a9a4a;
    padding-bottom: 5px;
}
.bottom-nav{
    background-color: #959536;
    width: 60%;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
}
.bottom-nav a{
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: 18px;
}

.bottom-nav a:hover{
    text-decoration: underline;
}

        .box:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

        #so::first-letter{
            font-size: 30px;
        }

        .icon{
            padding: 50px;
           
        }

        .btn{
            margin-left: 100px;
            padding: 10px 25px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background-color: rgb(139, 116, 86);
        }

        .btn1{
            margin-left: 50px;
            padding: 10px 25px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background-color: rgb(139, 116, 86);
        }

        .btn1:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            background-color: rgb(38, 79, 50) ;
        }

        .icon1{
            background-color: beige;
        }

        .btn:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

        .img1{
            padding-left: 15px;
            border-radius: 10px;
        }
        footer{
        background-color: #636B2F;
        color: white;
        text-align: center;
        padding: 40px;
        font-size: 12px;
        margin-top: 170px;
        }
        