body{
    margin: 0;
    padding: 0;
    background-color:#f6f6dc;
    font-family: Georgia;
    color: #4b4b3a;
}


.top-box{
            position: absolute;
            top: 20px;
            left: 300px;
            background-color: #959536;
            padding: 15px 8cqh;
            border-radius: 35px;
            color: white;
            z-index: 2;
            margin-left: 100px;
        }

        .top-box a{
            color: white;
            text-decoration: none;
            
            font-size: 18px;
        }

        .top-box a:hover{
            text-decoration: underline;
        }

        .title{
            font-size: 26px;
            font-weight: bold;
            margin-right: 30px;
            margin-left: 30px;
        }
        
        .home{
            padding-left:0px;
            padding-right: 30px;
            margin-left: 0px;
            
        }
        .resource{
            padding-left: 0px;
            padding-right: 40px;
            margin-left: 0px;
        }
        .about{
            padding-right: 0px;
            padding-left: 40px;
            margin-right: 0px;
        }
        .contact{
            padding-right: 0px;
            padding-left: 30px;
            margin-right: 0px;
        }

        .subheading{
            text-align: center;
            font-size: 18px;
            font-style: italic;
            
            margin-bottom: 20px;
        }

.container{
    width: 70%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 80px;
}

h1{
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 12px;
    text-align: center;
    color: #0f1905;
    letter-spacing: 2px;
}

.intro{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 40px;
    color: #6b6b55;
    text-align: center;
}
.story-card{
    background-color: #f2f2c2;
    padding: 30px;
    margin-bottom: 70px;
    border-radius: 12px;
    border: solid 2px #4b4b1f;
}
.story-img{
    width: 40%;
    height: 260px;
    float: left;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 30px;
}
.story-card h2{
    width: 50%;
    float: right;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.side-text{
    width: 50%;
    float: right;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    color: #6b6b55;
}
.clear{
    clear: both;
}
.story-card p{
    font-size: 16px;
    line-height: 1.6;
    color: #555543;
    margin-bottom: 12px;
    border: solid 0px red;
}

.closing{
    margin-top: 60px;
    font-size: 18px;
    font-style: italic;
    color: #6b6b55;
}

footer{
        background-color: #636B2F;
        color: white;
        text-align: center;
        padding: 40px;
        font-size: 12px;
        margin-top: 0px;
        }